<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bandou.music.sample">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <application
            android:name=".ApplicationContext"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MusicActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".MusicAlbumActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MusicListActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MusicTypeActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".EmptyActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MenuActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ClassicActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".BLEActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".A2DPActivity"
                  android:screenOrientation="portrait">
        </activity>

        <receiver
                android:name=".media.MusicPlayerReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>

        <service android:name=".media.MusicPlayerService"/>
    </application>

</manifest>